{% extends "main.html" %}
{% block content %}
<div class="container bg-08">
    <!-- Header -->
    <div class="row">
        <h1 class="header col-sm-8 col-sm-offset-2">Forex Advisor</h1>
        <h2>Best FOREX app 2016!</h2>
    </div>
    <!-- /Header -->

    <!-- Description -->
    <div class="row">
        <p class="description col-sm-8 col-sm-offset-2">
            Created by traders for traders. No ads or referral links for trade accounts opening. Which broker is better - it's your decision.
        </p>

        <p class="description col-sm-8 col-sm-offset-2">
            Signals of the "Forex Advisor" application are providing excellent results for trading with every broker.
        </p>

        <p class="description col-sm-8 col-sm-offset-2">
            We easy hired an developers and they publish the trading strategy used in our company to the Microsoft Store.
        </p>

        <p class="description col-sm-8 col-sm-offset-2">
            We have become work from anywhere in the world, not only from the office. You are able to download application and start pumping money.
        </p>
    </div>
    <!-- /Description -->
</div>

<!-- Countdown -->
<div class="countdown" id="countdown">
    <div class="container">
        <div class="row">
            <div class="countdown-item col-sm-3 col-xs-6">
                <div class="countdown-number" id="countdown-days"></div>
                <div class="countdown-label">days</div>
            </div>

            <div class="countdown-item col-sm-3 col-xs-6">
                <div class="countdown-number" id="countdown-hours"></div>
                <div class="countdown-label">hours</div>
            </div>

            <div class="countdown-item col-sm-3 col-xs-6">
                <div class="countdown-number" id="countdown-minutes"></div>
                <div class="countdown-label">minutes</div>
            </div>

            <div class="countdown-item col-sm-3 col-xs-6">
                <div class="countdown-number" id="countdown-seconds"></div>
                <div class="countdown-label">seconds</div>
            </div>
        </div>
    </div>
</div>
<!-- /Countdown -->

<div class="container">
    <div class="row">
        <div class="form-and-links-container col-sm-8 col-sm-offset-2">
            <!-- Subscription form -->
            <!--
            <div class="row">
                <form class="subscription-form" id="subscription-form" novalidate>
                    <div class="input-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        <input type="email" class="subscription-form-email form-control" id="subscription-form-email" name="email" placeholder="Enter email to sign up for news">
                        <span class="input-group-btn">
                            <button class="subscription-form-submit btn" id="subscription-form-submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
            -->
            <!-- /Subscription form -->
        </div>
    </div>
</div>
{% endblock %}